<div class="comments-list col-10 {{ commentCssClass.commentListMargin }}">
    {% for comment in comments %}
        <div class="d-flex mb-4 {{ commentCssClass.commentLine }} flex-wrap-reverse">
            {% if comment.post %}
                <div  class="d-flex flex-column justify-content-evenly badge-comment-container">
                    <span class="badge text-bg-{{ comment.badgeClass }} badge-comment">{{ comment.badgeText }}</span>
                    {% if comment.badgeClass == "warning" %}
                        <div class="d-flex justify-content-evenly">
                            <a class="comment-link-check validate-comment-link" tabindex="0" role="button">
                                <span class="d-none">comment-{{ comment.line.commentId }}-page-{{ paginationMenu.activePage }}</span>
                                <i class="fa-solid fa-check fa-lg"></i>
                            </a>
                            <a class="comment-link-xmark delete-comment-link" data-bs-toggle="modal"
                               href="#modal-confirm">
                                <span class="d-none">comment-{{ comment.line.commentId }}-page-{{ paginationMenu.activePage }}</span>
                                <i class="fa-solid fa-xmark fa-lg"></i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
            <div class="d-flex {{ commentCssClass.flexDirection }}">
                {% if comment.post %}
                    <a class="post-link" href="{{ paths.public }}/posts/{{ comment.post.postId }}">
                        <h3 class="mb-2">{{ comment.post.title }}</h3>
                    </a>
                {% else %}
                    <i class="fa-solid fa-circle-user fa-avatar me-3"></i>
                {% endif %}
                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-1">
                            {{ comment.userPseudo }}
                            <span class="small">
                            - {{ comment.line.creationDate |date("M j, Y \\a\\t H:i") }}
                        </span>
                        </p>
                    </div>
                    <p class="small mb-0">
                        {{ comment.line.comment }}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% if paginationMenu is not empty %}
    {% include 'partials/paginationNavbar.twig' with {'entityName': "comment"} %}
{% endif %}


