<div class="comments-list col-10 mx-auto">
    {% for comment in comments %}
        {% if comment.post %}
            {% set flexDirection = 'flex-column badge-active' %}
        {% else %}
            {% set flexDirection = 'flex-start' %}
        {% endif %}
        <div class="d-flex mb-4 comment-line flex-wrap-reverse">
            {% if comment.post %}
                <span class="badge text-bg-{{ comment.badgeClass }} badge-comment">{{ comment.badgeText }}</span>
            {% endif %}
            <div class="d-flex {{ flexDirection }}">
                {% if comment.post %}
                    <h3 class="mb-2">{{ comment.post.title }}</h3>
                {% else %}
                    <i class="fa-solid fa-circle-user fa-avatar me-3"></i>
                {% endif %}
                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <p class="mb-1">
                            {{ comment.userPseudo }}
                            <span class="small">
                            - {{ comment.line.creationDate |date("M j, Y \\a\\t H:i") }}
                        </span>
                        </p>
                    </div>
                    <p class="small mb-0">
                        {{ comment.line.comment }}
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% if paginationMenu is not empty %}
    {% include 'partials/paginationNavbar.twig' with {'entityName': "comment"} %}
{% endif %}


