<nav aria-label="{{ entityName }}s-pagination">
    <ul class="pagination justify-content-center mb-4" id="{{ entityName }}-pagination-navbar">
        <li class="page-item {{ entityName }}-item">
            <a class="page-link {{ entityName }}-link" tabindex="-1">Previous</a>
            <span id="{{ entityName }}-previous-page" class="d-none">{{ paginationMenu.previousPage }}</span>
        </li>
        {% for iterator in paginationMenu.firstPage..paginationMenu.lastPage %}
            {% if iterator == paginationMenu.activePage %}
                <li class="page-item {{ entityName }}-item active">
            {% else %}
                <li class="page-item {{ entityName }}-item">
            {% endif %}
            <a class="page-link {{ entityName }}-link">{{ iterator }}</a>
            </li>
        {% endfor %}

        <li class="page-item {{ entityName }}-item">
            <a class="page-link {{ entityName }}-link">Next</a>
            <span id="{{ entityName }}-next-page" class="d-none">{{ paginationMenu.nextPage }}</span>
        </li>
    </ul>
</nav>