{% extends 'base.twig' %}

{% block content %}
    {% include 'partials/alertBox.twig' with {'message': session.message , 'messageClass': session.messageClass} %}

    <h2 class="text-center mb-5">Register</h2>

    <form class="container form-container mb-5 justify-content-center needs-validation" method="post"
          action="{{ paths.public }}/register/#form-register"
          id="form-register" novalidate>
        <input type="hidden" name="formToken" value="{{ session.formToken }}">
        <div class="form-floating mb-3" id="group-pseudo-register">
            <input type="text" class="form-control" name="pseudo" id="pseudo-register" placeholder="Pseudo"
                   value="{{ form.pseudo }}" pattern="[A-z\d]{3,25}" required>
            <small id="pseudo-register-help" class="form-text">
                Please enter a valid Pseudo (3-25 characters)
            </small>
            <label for="pseudo-register">Pseudo</label>
        </div>
        <div class="form-floating mb-3" id="group-full-name-register">
            <input type="text" class="form-control" name="fullName" id="full-name-register" placeholder="Full Name"
                   value="{{ form.fullName }}" pattern="([A-z]){3,25}\s([A-z]){3,25}" required>
            <small id="full-name-register-help" class="form-text">
                Please enter a valid Full name. Example : LastName FirstName (3-25 characters each)
            </small>
            <label for="full-name-register">Full Name</label>
        </div>
        <div class="form-floating mb-3" id="group-mail-register">
            <input type="text" class="form-control" name="mail" id="mail-register" placeholder="name@example.com"
                   value="{{ form.mail }}" pattern="([A-z\d.-]+)@([a-z\d-]+)\.([a-z]{2,8})(\.[a-z]{2,8})?"
                   required>
            <small id="mail-register-help" class="form-text">
                Please enter a valid mail address.
            </small>
            <label for="mail-register">Email address</label>
        </div>
        <div class="form-floating mb-3 d-flex flex-column" id="group-password-register">
            <input type="password" class="form-control" name="password" id="password-register" placeholder="password"
                   pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}" required>
            <small id="password-register-help" class="form-text info invalid">
                Your password does not meet all the required criteria.
            </small>
            <div class="px-3 d-flex" id="password-alert">
                <ul class="list-unstyled mb-0" id="password-requirements">
                    <li class="requirements d-flex invalid" id="length-required">
                        <i class="fas fa-check text-success me-2"></i>
                        <i class="fas fa-times text-danger me-2"></i>
                        Your password must have at least 8 characters.
                    </li>
                    <li class="requirements d-flex invalid" id="lower-char-required">
                        <i class="fas fa-check text-success me-2"></i>
                        <i class="fas fa-times text-danger me-2"></i>
                        Your password must have at least 1 lowercase character.
                    </li>
                    <li class="requirements d-flex invalid" id="upper-char-required">
                        <i class="fas fa-check text-success me-2"></i>
                        <i class="fas fa-times text-danger me-2"></i>
                        Your password must have at least 1 uppercase character.
                    </li>
                    <li class="requirements d-flex invalid" id="number-required">
                        <i class="fas fa-check text-success me-2"></i>
                        <i class="fas fa-times text-danger me-2"></i>
                        Your password must have at least 1 number.
                    </li>
                    <li class="requirements d-flex invalid" id="special-char-required">
                        <i class="fas fa-check text-success me-2"></i>
                        <i class="fas fa-times text-danger me-2"></i>
                        Your password must have at least 1 special char.
                    </li>
                </ul>
            </div>
            <label for="password-register">Password</label>
        </div>
        <div class="form-floating mb-3" id="group-password-register-confirm">
            <input type="password" class="form-control" name="passwordConfirm" id="password-register-confirm"
                   placeholder="confirm password" required>
            <small id="password-register-confirm-help">
                Passwords do not match.
            </small>
            <label for="password-register-confirm">Password confirmation</label>
        </div>
        <button class="btn btn-form mt-3" type="submit">
            <span>
                <i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
                Sign in
            </span>
        </button>
    </form>
{% endblock %}